.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 360px) {
  .header_title  {
    font-size: 2em;
  }
   .header_description {
    font-size: 1em; 
  }
  .featured_header {
    font-size: 1.2em;
  }
  .project_title {
    font-size: 1em;
  }
  .project_link {
    font-size: 0.7em;
    font-weight: 700;
  }
}

/* This rule is about taking care of widths between Nexus 5 portrait and landscape modes - to be more responsive than just the project's definietion */
@media screen and (min-width: 361px) and (max-width: 597px) {
    .header_title  {
    font-size: 2em;
  }
   .header_description {
    font-size: 1em; 
  }
  .featured_header {
    font-size: 1.2em;
  }
  .project_title {
    font-size: 1em;
  }
  .project_link {
    font-size: 0.7em;
    font-weight: 700;
  }
  .project {
    margin: auto;
  }
}

/*Nexus 5 has landscape width of 640px but a part of it is the android menu bar, hence @media query defined for 598px */
@media screen and (min-width: 598px) and (max-width: 767px) {
  .project {
    width: 33.3333%;
  }
  .project_link {
    font-size: 0.5em;
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .project {
    width: 33.3333%;
  }
}

@media screen and (min-width: 900px) {
  main, header, .navbar, .content {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .project {
    width: 33.3333%;
  }
}